
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    --focus-color: #1a53b6;
    --success-color: #2ecc71;
    --error-color: #e74c3c; 
    --color-button: #3498db;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', serif;
    background: #f9fafb;
    min-height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff;
    width: 400px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 5px;
}

.form {
    padding: 30px 40px;
}

.form-section {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-section label {
    color: #777;
    display: block;
    margin-bottom: 4px;
}

.form-section input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-section input:focus{
    outline: 0;
    border-color: var(--focus-color);
}
.form-section.success input {           /* .success activated with JS*/
    border-color: var(--success-color);    
}
.form-section.error input {             /* .error activated with JS*/
    border-color: var(--error-color);
}

.form-section small {
    color: var(--error-color);
    
    position: absolute;
    left: 0;
    bottom: 0;

    visibility: hidden;
}

.form-section.error small {             /* .error activated with JS*/
    visibility: visible;
}

.form .button {
    cursor: pointer;
    background: var(--color-button);
    width: 100%;
    border: 2px solid var(--color-button);
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    display: block;

}
